<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>2025 Wood Snake Fortune Teller</title>

		<style>
			.container {
				width: 300px;
				font-size: 12px;
				font-family: Verdana;
				margin: 0 auto 0 auto;
			}

			.header {
				width: 300px;
				height: 205px;
				background: url(../../img/snake.jpg) no-repeat cover;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				
			</div>
<img src="img/snake.jpg" />
			{{{ body }}}			
		</div>
	</body>
</html>