<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>2025 Wood Snake Fortune Teller</title>

		<style>
			.container {
				width: 300px;
				font-size: 12px;
				font-family: Verdana;
				margin: 0 auto 0 auto;
				background-color: rgb(196, 195, 200);
			}

			.header {
				width: 300px;
				height: 205px;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url("snake.jpg");
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header" style="">
				
			</div>

			{{{ body }}}			
		</div>
	</body>
</html>