<h1>Welcome to the Wood Snake Fortune Teller!</h1>
<p>To get your fortune in the year 2025, please provide your birth date.</p>

<form action="/fortune" method="POST">
	<input type="date" name="txtBd" id="txtBd" value="2025-01-01" />
	<div class="error"></div>
	<div class="fortune"></div>
</form>